---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=0f7e814f89524e1fb17154705232304&q=salida,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/25/2023 21:24:48
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - cc9898dff07795438bcf772673847888
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Salida","region":"Colorado","country":"USA United
        States of America","lat":38.55,"lon":-106.04,"tz_id":"America/Denver","localtime_epoch":1682457888,"localtime":"2023-04-25
        15:24"},"current":{"last_updated_epoch":1682457300,"last_updated":"2023-04-25
        15:15","temp_c":0.5,"temp_f":32.9,"is_day":1,"condition":{"text":"Moderate
        snow","icon":"//cdn.weatherapi.com/weather/64x64/day/332.png","code":1219},"wind_mph":8.1,"wind_kph":13.0,"wind_degree":60,"wind_dir":"ENE","pressure_mb":1012.0,"pressure_in":29.89,"precip_mm":2.4,"precip_in":0.09,"humidity":96,"cloud":100,"feelslike_c":-2.6,"feelslike_f":27.4,"vis_km":0.8,"vis_miles":0.0,"uv":2.0,"gust_mph":7.2,"gust_kph":11.5},"forecast":{"forecastday":[{"date":"2023-04-25","date_epoch":1682380800,"day":{"maxtemp_c":9.9,"maxtemp_f":49.8,"mintemp_c":-6.4,"mintemp_f":20.5,"avgtemp_c":2.5,"avgtemp_f":36.6,"maxwind_mph":7.6,"maxwind_kph":12.2,"totalprecip_mm":26.9,"totalprecip_in":1.06,"totalsnow_cm":14.88,"avgvis_km":7.8,"avgvis_miles":4.0,"avghumidity":76.0,"daily_will_it_rain":1,"daily_chance_of_rain":96,"daily_will_it_snow":0,"daily_chance_of_snow":18,"condition":{"text":"Heavy
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/308.png","code":1195},"uv":1.0},"astro":{"sunrise":"06:14
        AM","sunset":"07:50 PM","moonrise":"10:00 AM","moonset":"12:59 AM","moon_phase":"Waxing
        Crescent","moon_illumination":"24"},"hour":[{"time_epoch":1682402400,"time":"2023-04-25
        00:00","temp_c":-1.6,"temp_f":29.1,"is_day":0,"condition":{"text":"Thundery
        outbreaks possible","icon":"//cdn.weatherapi.com/weather/64x64/night/200.png","code":1087},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":173,"wind_dir":"S","pressure_mb":1008.0,"pressure_in":29.76,"precip_mm":0.0,"precip_in":0.0,"humidity":82,"cloud":48,"feelslike_c":-2.6,"feelslike_f":27.3,"windchill_c":-2.6,"windchill_f":27.3,"heatindex_c":-1.6,"heatindex_f":29.1,"dewpoint_c":-4.3,"dewpoint_f":24.3,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":9.0,"vis_miles":5.0,"gust_mph":4.7,"gust_kph":7.6,"uv":1.0},{"time_epoch":1682406000,"time":"2023-04-25
        01:00","temp_c":-1.6,"temp_f":29.1,"is_day":0,"condition":{"text":"Moderate
        or heavy snow with thunder","icon":"//cdn.weatherapi.com/weather/64x64/night/395.png","code":1282},"wind_mph":3.1,"wind_kph":5.0,"wind_degree":192,"wind_dir":"SSW","pressure_mb":1008.0,"pressure_in":29.75,"precip_mm":0.4,"precip_in":0.02,"humidity":85,"cloud":100,"feelslike_c":-3.4,"feelslike[...]
