---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"87-vRkrHLQOGb96jdly4vvj8csSsVE"
    body:
      encoding: UTF-8
      string: '{"activity":"Learn how the internet works","type":"education","participants":1,"price":0,"link":"","key":"9414706","accessibility":0.1}'
  recorded_at: Tue, 25 Apr 2023 15:37:41 GMT
recorded_with: VCR 6.1.0
